JsonConverterDemo/.vs/
JsonConverterDemo/CustomJsonConverter/obj/
JsonConverterDemo/CustomJsonConverter/bin/
JsonConverterDemo/JsonConverterDemo.Domain/bin/
JsonConverterDemo/JsonConverterDemo.Domain/obj/
JsonConverterDemo/JsonConverterDemo/bin/
JsonConverterDemo/JsonConverterDemo/obj/
